<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Smith's Hobbies</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../resources/css/style.css">
    <script src="https://kit.fontawesome.com/e7584286f8.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="./home.html">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link" href="./hobbies.html">Hobbies</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="./projects.html">Projects</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="./resume.html">Resume</a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                <a href="./home.html"><img src="../resources/img/notebook.ico" alt="logo" width="35" height="35"></a>
            </ul>
            </div>
        </div>
    </nav>
    <main class="content">
      <h1 style="padding: 10px; padding-left: 30px;">My Hobbies</h1>
      <div class="container text-center">
        <div class="row" data-bs-theme="dark">
          <div class="col my-2">
            <div class="card border-4" style="width: 18rem;">
              <div class="card-body">
                <img src="../resources/img/dice.JPG" class="card-img-top" alt="">
                <h5 class="card-title">Dungeons & Dragons</h5>
                <p class="card-text">A hobby that I was introduced to by my older brother. I always loved role playing games, something about being truely immersed in another world brings me a lot of joy.</p>
              </div>
            </div>
          </div>
          <div class="col my-2">
            <div class="card border-4" style="width: 18rem;">
              <div class="card-body">
                <img src="../resources/img/map.PNG" class="card-img-top" alt="">
                <h5 class="card-title">World Building</h5>
                <p class="card-text">A complement to D&D, I got into world building when I didn't want to use existing material for campaigns. By now I've spent many hours writing worlds, nations, customs, and people</p>
              </div>
            </div>
          </div>
          <div class="col my-2">
            <div class="card border-4" style="width: 18rem;">
              <div class="card-body">
                <img src="../resources/img/controllers.jpg" class="card-img-top" alt="">
                <h5 class="card-title">Video Games</h5>
                <p class="card-text">A go to for stress relief. There are always pleanty of games to play, and makes it easier to hang out with friends who are far away.</p>
              </div>
            </div>
          </div>
          <div class="col my-2">
            <div class="card border-4" style="width: 18rem;">
              <div class="card-body">
                <img src="../resources/img/Lofoten.jpg" class="card-img-top" alt="">
                <h5 class="card-title">Hiking</h5>
                <p class="card-text">I've always loved exploring and venturing out into nature when the opportunity presents itself. I've visted many parks and ranges, and plan to visit many more.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer footer-expand-lg bg-body-tertiary text-center py-1 mt-auto" data-bs-theme="dark">
        <div class="container">
          <section class="mb-0">
            <a
              data-mdb-ripple-init
              class="btn btn-link btn-floating btn-lg text-body m-1 glow-ln"
              href="https://www.linkedin.com/in/smith-mefford-a1a633381/"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-linkedin"></i
            ></a>
            <a
              data-mdb-ripple-init
              class="btn btn-link btn-floating btn-lg text-body m-1 glow-gh"
              href="https://github.com/SmithMefford"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-github"></i
            ></a>
          </section>
        </div>
      </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>