.fix-image {
  width: 500px;
  height: auto;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background: linear-gradient(#2b3035 10%, rgb(55, 0, 100));
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.navStyle {
  margin-bottom: 20px;
}

.borderColor {
  border-color: #2b3035 !important;
}

.content {
  flex: 1;
}

.glow-ln i {
  transition: 0.3s ease;
}

.glow-ln:hover i {
  color: #0b66c3; /* or white depending on background */

  text-shadow: 0 0 8px #ffffff,
               0 0 15px #ffffff;
}

.glow-gh i {
  transition: 0.3s ease;
}

.glow-gh:hover i {
  color: #000000; /* or white depending on background */

  text-shadow: 0 0 8px #ffffff,
               0 0 15px #ffffff;
}